* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  color: #aaa;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

header h1 strong {
  color: #313131;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrap .containerS aside {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 50px;
  padding-right: 16px; */
  width:100px;
  min-height:100px;
  
  
  
  
  display: flex;
  background-color: rgb(245, 238, 149);
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
 
  
}
.content-wrap .containerA aside {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 50px;
  padding-right: 16px; */
  width:100px;
  min-height:100px;
  
  
  
  
  display: flex;
  background-color: rgb(255,127,127);
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
 
  
}
.content-wrap .containerB aside {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 50px;
  padding-right: 16px; */
  width:100px;
  min-height:100px;
  
  
  
  
  display: flex;
  background-color: rgb(255,191,127);
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
 
  
}
.content-wrap .containerC aside {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 50px;
  padding-right: 16px; */
  width:100px;
  min-height:100px;
  
  
  
  
  display: flex;
  background-color: rgb(255,223,127);
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
 
  
}
.content-wrap .containerD aside {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 50px;
  padding-right: 16px; */
  width:100px;
  min-height:100px;
  
  
  
  
  display: flex;
  background-color: #FFFF7F;
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
 
  
}
.content-wrap .containerF aside {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 50px;
  padding-right: 16px; */
  width:100px;
  min-height:100px;
  
  
  
  
  display: flex;
  background-color: rgb(191,255,127);
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
 
  
}

.content-wrap main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  padding: 0px 16px;
  
}

.content-wrap main .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-wrap main .main-head .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #EEE;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap main .main-head .search-box input ::-webkit-input-placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input :-ms-input-placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input ::-ms-input-placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input ::placeholder {
  color: #888;
}

.content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
  background-color: #313131;
  color: #FFF;
}

.content-wrap main .anime-list {
  display: -webkit-box;
  display: -ms-flexbox;
  width:100vw;
  margin-top: 32px;
  margin: 0px -8px 0px;
  display:flex;
  padding-left:10px;
  

}
.containerS{
  display:flex;
  /* margin:0; */
}
.containerA{
  display:flex;
  /* margin:0; */
}

.containerB{
  display:flex;
  /* margin:0; */
}

.containerC{
  display:flex;
  /* margin:0; */
}
.containerD{
  display:flex;
  /* margin:0; */
}

.containerF{
  display:flex;
  /* margin:0; */
}
.containerAnilist .anime-list{
  max-width:100vw;
  overflow-x:scroll;
  overflow-y:hidden;
  
}
.containerAnilist{
  padding-bottom:50px;
  
}


.content-wrap .anime-list .anime-card {
  -webkit-box-flex: 1;
  width: 100px;
  margin: 3px;
  
  

  
  
  /* padding: 16px 8px; */
}

.content-wrap main .anime-list .anime-card a {
  text-decoration: none;
}

.content-wrap main .anime-list .anime-card figure {
  display: block;
  /* margin-bottom: 16px; */
}

.content-wrap main .anime-list .anime-card figure img {
  display: block;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  border: solid 1px #000;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap main .anime-list .anime-card h3 {
  color: #313131;
  text-align: center;
  font-size: small;
}

.content-wrap main .anime-list .anime-card:hover figure img {
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */